# the repository needs to be kept under 1GB, so use this ignore
# list to keep a record of what wasn't put into source control
/Drivers/CMSIS/Lib/ARM/
/Drivers/CMSIS/Lib/IAR/
/Middlewares/ST/STemWin/
/Middlewares/ST/TouchGFX/
/Projects/
/Utilities/Media/Video/
